/* Apply Cairo font to the entire page */
body {
    font-family: 'Cairo', sans-serif !important;
    margin: 0;
    padding: 0;
    line-height: 1.6;

    direction: rtl;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    
    width: 80%;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    /* text-align: center; */
}

thead {
    background-color: #f4f4f4;
}


/* إضافة تنسيق خاص للجدول الجديد */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    /* text-align: center; */
}

thead {
    background-color: #f4f4f4;
}

h2 {
    margin-top: 20px;
    text-align: center;
}



/* إضافة تنسيق خاص لمعلومات القرض */
#loanDetails {
    margin-top: 20px;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 8px;
    text-align: center;
}

#loanDetails p {
    margin: 5px 0;
    font-size: 1.2em;
    font-weight: bold;
}

#loanDetails span {
    color: #007bff;
}


/* Footer styles */
footer {
    margin-top: 50px;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    /* width: 100%; */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    
    
}

.footer-content h2 {
    margin: 0;
    font-size: 1.5em;
}

.footer-content p {
    margin: 5px 0;
    font-size: 1.2em;
}

.footer-content .contact-info {
    margin-top: 10px;
}

.footer-content .contact-info a {
    color: #007bff;
    text-decoration: none;
}

.footer-content .contact-info a:hover {
    text-decoration: underline;
}

.footer-content i {
    margin-right: 8px;
    color: #007bff;
}



/* Add this to your styles.css */
.hidden {
    display: none;
}

button {
    font-family: 'Cairo', sans-serif !important;
    margin: 10px 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.btn-danger{
    background-color: rgb(121, 12, 12);
}
.btn-danger:hover{
    opacity: 80%;
    background-color: rgb(121, 12, 12);

}

/* Add this to your styles.css if you need custom styles */
.is-invalid {
    border-color: #dc3545 !important;
}

.is-valid {
    border-color: #28a745 !important;
}

